html,body{
    background-color: black;
}
h1{
    width: 1000px;
    color: white;
    background-color: rgb(216, 0, 0);
    display: inline-block;
    font-family: 'Anton', sans-serif;
    margin: 5px;
    font-size: 60px;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

h2{
    color: rgb(127, 82, 214);
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    margin: 5px;
    font-size: 50px;
}

#directions {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 15px;
  text-align: center;

}

p{
    color: white;
    font-family:'Arsenal', sans-serif;
    font-size: 30px;
    margin: 10px;
}



div.tooltip {
  position: absolute;
  text-align: center;
  left: 50%;
  padding: 5px;
  font: 15px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: black;
}

div.tooltipSidebar{
  margin: auto;
  position: absolute;
  text-align: left;
  font: 15px sans-serif;
  font-family: Roboto;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: white;
}


div.sidebar{
  height: 99%;
  width: 300px;
  position: fixed;
  background-color: black;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 10px;
  font-family: 'Anton', sans-serif;
  color: rgb(0, 198, 209);
  text-align: center;
  overflow-y: auto;

}


#content{
  margin: auto;
  width: 1000px;
  padding-right: 3px;
  padding-left: 3px;
}


.closebtn{
    font-family: Helvetica;
    margin-left: 200px;
    font-size: 40px;
}

.hero-name{
    font-size: 20px;
    margin: auto;
}


.info-header{
  font-family: News Cycle;
  font-style: bold;
}

.info{
  font-family: News Cycle;
  font-size: 14px;
}

#buttons{
  text-align: center;
}

.movie-button{
  background-color: rgb(0, 198, 209); /* Green */
   border: none;
   color: black;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   font-family: 'Roboto', sans-serif;
   opacity: 0.5;
}

#legend {
  list-style: none;

}
#legend li {
  float: left;
  margin-right: 15px;
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

#legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}

#legend #IronMan {
  background-color: #b20000;
}

#legend #CaptainAmerica {
  background-color: #3232ff;
}

#legend #Hulk {
  background-color: #4ca64c;
}

#legend #BlackWidow {
  background-color: #ffb732;
}

#legend #Hawkeye {
  background-color: #a64ca6;
}

#legend #Thor {
  background-color: #ffff4c;
}

#legend #other {
  background-color: #808080;
}
