html,body{
    background-color: #D3D3D3;
}
h1{
    width: 1200px;
    color: white;
    background-color: rgb(216, 0, 0);
    display: inline-block;
    font-family: 'Anton', sans-serif;
    margin: 5px;
    font-size: 60px;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

h2{
    color: rgb(127, 82, 214);
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    margin: 5px;
    font-size: 50px;
}

p{
    color: white;
    font-family:'Arsenal', sans-serif;
    font-size: 30px;
    margin: 10px;
}